Host public1.prod1 
  HostName 10.60.10.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host migration.prod1
  HostName 10.60.14.20
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life


Host public2.prod1 
  HostName 10.60.10.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host private1.prod1 
  HostName 10.60.12.10  
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host private2.prod1 
  HostName 10.60.12.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host db1.prod1 
  HostName 10.60.14.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host db2.prod1 
  HostName 10.60.14.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host db3.prod1
  HostName 10.60.14.12
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

