Host adm1.prod2
  Hostname 185.247.194.52
  User ilnur
  IdentityFile ~/.ssh/rt_stage

Host migration.prod2
  Hostname 10.160.14.20
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host db1.prod2
  Hostname 10.160.14.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host db2.prod2
  Hostname 10.160.14.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host db3.prod2
  Hostname 10.160.14.12
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host public1.prod2
  HostName 10.160.10.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host public2.prod2
  HostName 10.160.10.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host private1.prod2
  HostName 10.160.12.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host private2.prod2
  HostName 10.160.12.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2

Host redis.prod2
  HostName 10.160.14.15
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.prod2
