Host adm1.corr.life
  HostName 45.80.65.130
  User ilnur
  IdentityFile ~/.ssh/rt_stage

Host sso.stage
  HostName 45.80.65.128
  User ilnur
  IdentityFile ~/.ssh/rt_stage

Host migration.stage
  HostName 10.40.14.20
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host db1.stage
  HostName 10.40.14.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host public1.stage
  Hostname 10.40.10.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host public2.stage
  Hostname 10.40.10.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host private1.stage
  Hostname 10.40.12.10
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host private2.stage
  Hostname 10.40.12.11
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life

Host mediaproxy.stage
  Hostname 10.40.10.12
  User ilnur
  IdentityFile ~/.ssh/rt_stage
  ProxyJump adm1.corr.life
