Host life-dev
  Hostname 193.124.185.12
  User root
  IdentityFile ~/life/devops/life

Host life-reg
  Hostname 194.67.219.97
  User root
  IdentityFile ~/life/devops/life

Host life-dev1
  Hostname 194.67.212.142
  User root
  IdentityFile ~/life/devops/life

Host life-dev2
  Hostname 194.67.213.52
  User root
  IdentityFile ~/life/devops/life
