Host tlife-dev
  HostName 84.201.131.226
  User ilnur
  IdentityFile ~/.ssh/tabolabs

Host tlife-reg
  HostName 84.201.135.217
  User ilnur
  IdentityFile ~/.ssh/tabolabs

Host yandex_gitlab
  HostName 84.201.128.235
  User admin
  IdentityFile ~/.ssh/yandex_donut

Host yandex_runner
  HostName 84.201.157.35
  User admin
  IdentityFile ~/.ssh/yandex_donut

Host yandex_postnews
  HostName 84.201.131.195
  User admin42
  IdentityFile ~/.ssh/yandex_donut
